<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Delete Item</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>


<body>
    <!-- Start Navbar -->
    <nav class="card"style="background-color: black">
        <div class="container">
            <h1 class="text-upper display-inline-block" style = "color:#c0b6c9 ">Catalog App</h1>
            <a href="" class="login-link float-right display-block"style="background-color:#9c46e5">Logout</a>
            <div class="clear-fix"></div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container">
        <div class="card"style="background-color:#c0b6c9">
            <h4 >Delete Item</h4>
            <form method="post">
                <p>
                    Are You Sure You Want To Delete {{item.name}} ?
                </p>

                <button type="submit" class="btn-red">Delete</button>
                <button type="reset" class="btn-green" style="margin:0">
                  <a href="/categories/{{item.category_id}}/items/{{item.id}}" style="color: white">Cancel</a>
                </button>

            </form>
        </div>
    </div>
    
</body>

</html>
